%% -*- tab-width: 4;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ft=erlang ts=4 sw=4 et

{erl_opts,  [warnings_as_errors]}.
{xref_checks, [undefined_function_calls]}.
{cover_enabled, true}.
{eunit_opts, [verbose]}.
{require_otp_vsn, "R14|R15"}.
{clean_files, ["*~","*/*~","*/*.xfm","test/*.beam"]}.

{deps, [
    {cowboy, ".*", {git, "git://github.com/refuge/cowboy.git",
                   {branch, "master"}}},

    {jiffy, ".*", {git, "git://github.com/refuge/jiffy.git",
                   {branch, "master"}}},

    {mimetypes, ".*", {git, "https://github.com/spawngrid/mimetypes.git",
                      "master"}}
]}.
