%% -*- tab-width: 4;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ft=erlang ts=4 sw=4 et

{erl_opts,  [warnings_as_errors]}.
{xref_checks, [undefined_function_calls]}.
{cover_enabled, true}.
{eunit_opts, [verbose]}.
{clean_files, ["*~","*/*~","*/*.xfm","test/*.beam"]}.

{deps, [
    {cowboy, "~>2.9.0"},
    {jsx, "~>3.1.0"},
    {mimerl, "~>1.1"}
]}.
